name: QA Automation Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  qa:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      # ---- UNIT TESTS (FAST FAIL) ----
      - name: Run unit tests
        run: npm test

      # ---- DOCKERIZED E2E ----
      - name: Build Playwright Docker image
        run: docker build -t qa-playwright .

      - name: Run Playwright tests in Docker
        run: docker run --rm -v ${{ github.workspace }}/playwright-report:/app/playwright-report qa-playwright

      # ---- REPORT ARTIFACT ----
      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
      # ---- EMAIL NOTIFICATION ----    
      - name: Send email notification
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: QA Pipeline Result - ${{ job.status }}
          body: |
            QA Pipeline completed.

            Status: ${{ job.status }}

            Playwright Report:
            https://qa-playwright-reports-sdet-div.s3.amazonaws.com/latest/index.html
          to: your-email@gmail.com
          from: QA Automation Pipeline

